<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="fRepetitiveProduction.My.MySettings.DATATCOptiplex"
            connectionString="Data Source=TC-OPTIPLEX\SQL2008R2;Initial Catalog=DATA;Persist Security Info=True;User ID=sa;Password=230South5th"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>